<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">Se já possui um Usuário e Senha, você pode clicar no botão abaixo para acessar de maneira segura usando um token </p>
        <p>
            <a class="btn btn-info" href="#/login" role="button">Entrar &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use o botão abaixo para criar um Usuário e Senha para acessar com segurança usando um token</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Cadastrar &raquo;</a>
        </p>
    </div>
    <div class="col-md-2">
        &nbsp;    
    </div>
</div>