<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id Pedido</th>
                    <th>Cliente</th>
                    <th>Cidade</th>
                    <th>Enviado?</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ pedido.pedidoId }}
                    </td>
                    <td>
                        {{ pedido.nomeCliente }}
                    </td>
                    <td>
                        {{ pedido.cidadePedidoExpedido }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="pedido.Enviado" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
